Nós temos 5 arquivos no formato parquet:  
- Tabela Clientes;
- ItensVendas;
- Produtos;
- Vendas;
- Vendedores.  
---
Atividades:  
- Crie uma consulta que mostre nesta ordem: nome, Estados e Status dos clientes;
- Crie uma consulta que mostra apenas os clientes do Status "Platinum" e "Gold"
- Demonstre quanto cada Status de Clientes representa em vendas?

In [1]:
# Imports
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql import functions as Func

# Crie uma consulta que mostre nesta ordem: nome, Estados e Status dos clientes;

In [2]:
df_clientes = spark.read.parquet("./data_exercise/Clientes.parquet")
df_clientes.select(Func.col("Cliente"),
                   Func.col("Estado"),
                   Func.col("Status")
                  ).show()

+--------------------+------+--------+
|             Cliente|Estado|  Status|
+--------------------+------+--------+
|Adelina Buenaventura|    RJ|  Silver|
|        Adelino Gago|    RJ|  Silver|
|     Adolfo Patrício|    PE|  Silver|
|    Adriana Guedelha|    RO|Platinum|
|       Adélio Lisboa|    SE|  Silver|
|       Adérito Bahía|    MA|  Silver|
|       Aida Dorneles|    RN|  Silver|
|   Alarico Quinterno|    AC|  Silver|
|    Alberto Cezimbra|    AM|  Silver|
|    Alberto Monsanto|    RN|    Gold|
|       Albino Canela|    AC|  Silver|
|     Alceste Varanda|    RR|  Silver|
|  Alcides Carvalhais|    RO|  Silver|
|        Aldo Martins|    GO|  Silver|
|   Alexandra Tabares|    MG|  Silver|
|      Alfredo Cotrim|    SC|  Silver|
|     Almeno Figueira|    SC|  Silver|
|      Alvito Peralta|    AM|  Silver|
|     Amadeu Martinho|    RN|  Silver|
|      Amélia Estévez|    PE|  Silver|
+--------------------+------+--------+
only showing top 20 rows

# Crie uma consulta que mostra apenas os clientes do Status "Platinum" e "Gold"

In [3]:
df_clientes.where((Func.col("Status") == "Platinum") |
                  (Func.col("Status") == "Gold")
                 ).show()

+---------+-------------------+------+------+--------+
|ClienteID|            Cliente|Estado|Genero|  Status|
+---------+-------------------+------+------+--------+
|        4|   Adriana Guedelha|    RO|     F|Platinum|
|       10|   Alberto Monsanto|    RN|     M|    Gold|
|       28|      Anna Carvajal|    RS|     F|    Gold|
|       49|      Bento Quintão|    SP|     M|    Gold|
|       68|      Carminda Dias|    AM|     F|    Gold|
|       83|      Cláudio Jorge|    TO|     M|    Gold|
|      121|    Dionísio Saltão|    PR|     M|    Gold|
|      166|   Firmino Meireles|    AM|     M|    Gold|
|      170|      Flor Vilanova|    CE|     M|Platinum|
|      220|Honorina Villaverde|    PE|     F|    Gold|
|      230|    Ibijara Botelho|    RR|     F|Platinum|
|      237|  Iracema Rodríguez|    BA|     F|    Gold|
|      247|         Joana Ataí|    GO|     F|Platinum|
+---------+-------------------+------+------+--------+

# Demonstre quanto cada Status de Clientes representa em vendas?

In [4]:
df_vendas = spark.read.parquet("./data_exercise/Vendas.parquet")
df_vendas.show()

+--------+----------+---------+---------+--------+
|VendasID|VendedorID|ClienteID|     Data|   Total|
+--------+----------+---------+---------+--------+
|       1|         1|       91| 1/1/2019|  8053.6|
|       2|         6|      185| 1/1/2020|   150.4|
|       3|         7|       31| 2/1/2020|  6087.0|
|       4|         5|       31| 2/1/2019| 13828.6|
|       5|         5|       31| 3/1/2018|26096.66|
|       6|         5|       31| 4/1/2020| 18402.0|
|       7|         5|       31| 6/1/2019|  7524.2|
|       8|         5|      186| 6/1/2019| 12036.6|
|       9|         7|       91| 6/1/2020| 2804.75|
|      10|         2|      202| 6/1/2020|  8852.0|
|      11|         7|       58| 8/1/2019|16545.25|
|      12|         7|       58| 9/1/2018|11411.88|
|      13|         7|       58|10/1/2019| 15829.7|
|      14|         3|      249|12/1/2020| 6154.36|
|      15|         4|      249|12/1/2018| 3255.08|
|      16|         7|      192|13/1/2020| 2901.25|
|      17|         2|       79|13/1/2019| 15829.7|
|      18|        10|       79|14/1/2019|16996.36|
|      19|        10|      191|14/1/2019|   155.0|
|      20|         9|      218|15/1/2018|  131.75|
+--------+----------+---------+---------+--------+
only showing top 20 rows

In [5]:
df_itens_vendas = spark.read.parquet("./data_exercise/ItensVendas.parquet")
df_itens_vendas.show()

+---------+--------+----------+-------------+----------+--------+----------------+
|ProdutoID|VendasID|Quantidade|ValorUnitario|ValorTotal|Desconto|TotalComDesconto|
+---------+--------+----------+-------------+----------+--------+----------------+
|        2|     400|         2|       9201.0|   18402.0| 6256,68|        12145.32|
|        2|     385|         2|       9201.0|   18402.0| 5704,62|        12697.38|
|        4|     395|         2|       6892.2|   13784.4| 5100,23|         8684.17|
|        4|     367|         2|       6509.3|   13018.6| 4816,88|         8201.72|
|        2|     380|         2|      7038.77|  14077.54| 4364,04|          9713.5|
|        2|     346|         2|       8280.9|   16561.8| 4140,45|        12421.35|
|        2|     339|         2|       8280.9|   16561.8| 3312,36|        13249.44|
|        2|     397|         1|       9201.0|    9201.0| 3312,36|         5888.64|
|        1|     346|         2|       7966.8|   15933.6| 3186,72|        12746.88|
|        2|     264|         2|       8280.9|   16561.8| 3146,74|        13415.06|
|        4|     355|         2|      5858.37|  11716.74| 3046,35|         8670.39|
|        2|     376|         1|       8280.9|    8280.9| 2981,12|         5299.78|
|        2|     374|         1|       9201.0|    9201.0| 2944,32|         6256.68|
|        1|     397|         1|       7524.2|    7524.2| 2859,20|          4665.0|
|        2|     303|         2|       8280.9|   16561.8| 2815,51|        13746.29|
|        4|     358|         2|       6509.3|   13018.6| 2733,91|        10284.69|
|        4|     374|         1|       7658.0|    7658.0| 2527,14|         5130.86|
|        3|     336|         2|       4255.0|    8510.0| 2467,90|          6042.1|
|        1|     399|         1|      6771.78|   6771.78| 2437,84|         4333.94|
|        1|     292|         2|      6771.78|  13543.56| 2437,84|        11105.72|
+---------+--------+----------+-------------+----------+--------+----------------+
only showing top 20 rows

In [6]:
# Joins

df_clientes.join(
    df_vendas,
    df_clientes.ClienteID == df_vendas.ClienteID, 
    how="inner").select(
    Func.col("Status"),
    Func.col("Total")).groupBy("Status").agg(Func.sum("Total")).orderBy(Func.col("sum(Total)").desc()).show()

+--------+------------------+
|  Status|        sum(Total)|
+--------+------------------+
|  Silver|        3014291.36|
|    Gold|27286.690000000002|
|Platinum|          12584.68|
+--------+------------------+